div.wraper {
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}
div.image {
    display: flex;
    transition: 2s;
}

#slide-1:target ~ .image {
    margin-left: 0px;
}

#slide-2:target ~ .image {
    margin-left: -104%;
}

#slide-3:target ~ .image {
    margin-left: -205%;
}

#slide-4:target ~ .image {
    margin-left: -308%;
}

div.navigation {
    width: 200px;
    margin: auto;
}

div.navigation a {
    display: inline-block;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 100%;
    margin-top: 5px;
    text-decoration: none;
    background-color: aqua;
}
